@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #040053;
}
.project-btn {
  background-color: hsl(0, 93%, 32%);
  color: white;
  border: 0;
}
.project-btn:hover {
  background-color: blue;
}
.project-text {
  color: #333333;
}

/* Primary: Navy Blue (#0A2540)
Secondary: Sky Blue (#72C3DC)
Accent: Bright Yellow (#FFB800)
Background: Light Gray (#F0F0F0)
Text: Dark Gray (#333333) */
